*
!.gitignore
!*.md
!*.json
!fmv/
!fmv/*.ogv
!lvl/
!lvl/*.json
!lvl/*.dat
!mus/
!mus/*.ogg
!sfx/
!sfx/*.ogg
!src/
!src/*.lua
!tex/
!tex/*.png
!tex/*.json
!tex/e
!tex/e/*.png
!docs/
!docs/*.html
!docs/*.md
!docs/*.png
!docs/*.ico
!docs/*.webp
